@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
html,
body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex-grow: 1;
  display: flex;
}

.headingS {
  font-size: 3em;
}
.landing {
  position: relative;
}

