.top-helper .page-title {
  text-align: center;
  font-size: 2em;
  padding: 20px;
}
#questions-new .guideline {
  padding: 25px 0;
  text-align: center;
  font-size: 0.75em;
  line-height: 0.5;
  color: #333;
}
.ask-caption {
  font-size: 1.75em;
  font-weight: 700;
}
#questions-new .card {
  border-radius: 0;
  margin-bottom: 15px;
}
#questions-new .custom .form-control-lg {
  border: 0;
  border-bottom: 1px solid chocolate;
  height: 100px;
}
